
#define fnt1	Hack:style=Regular:antialias=True
#define fnt2	Input Serif:style=Regular:antialias=True
#define fntsz1	9
#define fntsz2	9

!#include ".xfiles/themes/gruvbox"
!#include ".xfiles/themes/solarized-dark"
!#include ".xfiles/themes/monokai"
#include ".xfiles/themes/lightweight"

#include ".xfiles/colors"
#include ".xfiles/urxvt"

mistyle.accent:	blu
mistyle.bg1:	blk
mistyle.bg2:	bg
mistyle.fg1:	fg
mistyle.fg2:	wht2
mistyle.redish:	red
mistyle.font1:	fnt1
mistyle.fontsz1:	fntsz1
